*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif arial;
}
.enviarDerecha{
    margin-left: auto;
}
#navegador{
    background: #3b3b3b;
    color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav{
    max-width: 1100px;
    margin: auto;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    background: #7e7e7e;
    padding: 5px;
    height: 20px;
    list-style: none;
    margin-right: 10px;
    border-radius: 2px;
}
nav li:hover{
    background: #c9c9c9;
    cursor: pointer;
}
